
body {}
    header {
background-color: black;
color: white;
text-align:center;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    float:left;
    padding:5px;	      
}
section {
    width:350px;
    float:left;
    padding:10px;		 
}

footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}

.hiding{
   display:block;
}
#firstview{
    display:block;
    background-color:red;
}

.ex:hover {
    color: aqua;
    cursor:grab;
}
